#braavosianCoastlands{
    position: absolute;
    top: 32%;
    left: 6%;
}

#axe{
    position: absolute;
    top: 30%;
    left: 19%;
}

#norvos{
    position: absolute;
    top: 42%;
    left: 18%;
}

#qohor{
    position: absolute;
    top: 46%;
    left: 28%;
}

#flatlands{
    position: absolute;
    top: 54%;
    left: 10%;
}

#rhoyne{
    position: absolute;
    top: 52%;
    left: 18%;
}

#goldenFields{
    position: absolute;
    top: 61%;
    left: 15%;
}

#myr{
    position: absolute;
    top: 71%;
    left: 17%;
}

#tyrosh{
    position: absolute;
    top: 78%;
    left: 9%;
}

#lys{
    position: absolute;
    top: 91%;
    left: 6%;
}

#orangeShore{
    position: absolute;
    top: 83.5%;
    left: 15%;
}

#voltanis{
    position: absolute;
    top: 85%;
    left: 26%;
}

#lowerRhoyne{
    position: absolute;
    top: 72%;
    left: 22.5%;
}

#mantarys{
    position: absolute;
    top: 75%;
    left: 42%;
}

#seaOfSight{
    position: absolute;
    top: 88%;
    left: 35%;
}

#oros{
    position: absolute;
    top: 97%;
    left: 41%;
}

#valyria{
    position: absolute;
    top: 115%;
    left: 37%;
}

#sarnor{
    position: absolute;
    top: 31%;
    left: 40%;
}

#westernDorthrakiSea{
    position: absolute;
    top: 58%;
    left: 41%;
}

#northDorthrakiSea{
    position: absolute;
    top: 43%;
    left: 49%;
}

#easternDorthrakiSea{
    position: absolute;
    top: 52%;
    left: 65%;
}

#lhazar{
    position: absolute;
    top: 67%;
    left: 65%;
}

#vaesDorthrak{
    position: absolute;
    top: 33%;
    left: 71%;
}

#footprint{
    position: absolute;
    top: 23%;
    left: 71%;
}

#meereen{
    position: absolute;
    top: 70%;
    left: 54%;
}

#yunkai{
    position: absolute;
    top: 82%;
    left: 58.5%;
}

#astapor{
    position: absolute;
    top: 94%;
    left: 57%;
}

#oldGhis{
    position: absolute;
    top: 104%;
    left: 61%;
}

#newGhis{
    position: absolute;
    top: 115%;
    left: 55%;
}

#redWaste{
    position: absolute;
    top: 87%;
    left: 72%;
}

#qarth{
    position: absolute;
    top: 93.5%;
    left: 88%;
}

#bayasabhad{
    position: absolute;
    top: 82%;
    left: 83.5%;
}

#samyrian{
    position: absolute;
    top: 60%;
    left: 82.5%;
}

#northernJadeSea{
    position: absolute;
    top: 29%;
    left: 87%;
}