#braavosianCoastlands{
    position: absolute;
    top: 32%;
    left: 6%;
}

#axe{
    position: absolute;
    top: 30%;
    left: 19%;
}

#norvos{
    position: absolute;
    top: 42%;
    left: 18%;
}

#qohor{
    position: absolute;
    top: 46%;
    left: 28%;
}

#flatlands{
    position: absolute;
    top: 54%;
    left: 10%;
}

#rhoyne{
    position: absolute;
    top: 52%;
    left: 18%;
}

#goldenFields{
    position: absolute;
    top: 61%;
    left: 15%;
}

